@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: rgb(35, 53, 53);
}
header{
    background-color: black;
}
header h1{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px ;
    font-size: 4.9em;
}
header a:hover{
    text-decoration: underline;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.473);
    transition-duration: 1s;
    font-weight: bold;
}
header p{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}
p{
    text-indent: 5px;
    text-align: justify;
}
header a{
    text-decoration: none;
    color: white;
}
section{
   font-weight: lighter;
   line-height: 2em;
   padding-top: 10vh;
   padding-bottom: 10vh ;
   padding-left: 30px;
   font-size: 1.7vw;
}
section.normal{
    background-color: rgb(35, 53, 53);
}
section.imagem{
    box-shadow: inset 1px 2px 2px black;
}
section.imagem  p{
    background-color: rgba(0, 0, 0, 0.384);
    height: 400px;
    width: 600px;
    margin-left: 50px;
    color: white;
}

section#img01{
    background-image: url("imagens/african-lion-2888519_640.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
section#img02{
    background-image: url("imagens/vista-aproximada-de-uma-joaninha-sobre-uma-folha.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
}