@charset "UTF-8";
#conteiner{
    position: relative;
    height: 500px;
    padding: 10px;
    background-color: purple;
}
#conteudo{
    position: absolute;
    background-color: rgb(213, 228, 0);
    height: 200px;
    width: 400px;
    left: 50%;
    top: 50%;
}